{%extends 'base.html'%}
{% load static %}
{% block head%}
<title>Bizning maqsad g`oyalarimiz haqida</title>

<style>
    .santr {
        margin-right: 100px;
    }
    
    
 
 

    p {
        border: 2px solid #002347;
        color: #002347;
        padding: 30px;
        font-size: 20px;
        font-family: sans-serif;
        margin-top: 193px;
    }
    p:hover {
        border: 5px solid #B0CBC4;
        background-color: #F2EBD8;
        border-top-left-radius: 100% 20px;
        border-bottom-right-radius: 100% 20px;
    }
</style>

{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-5">
            
            <div class="imgtrik">
                <img src="{% static 'images/cae.jpg'%}" width="300" style="margin-bottom: -150px; margin-top: 100px; margin-left: 70px;">
            </div>
        </div>
            
        <div class="col-md-6">
            
                <p>
                    CAE (Certificate in advanced English) — bu Kembrij Universitetining 
                    ESOL  bo'limi tomonidan ishlab chiqilgan va boshqariladigan ingliz tili 
                    imtihonidir . Dastlab 1991 yilda ishlab chiqilgan va taqdim etilgan. 
                    Sertifikat Evropa Kengashi o'lchovining C1 darajasiga to'g'ri keladi. 
                    Bu  FCE  va  CPE  imtihonlari orasida "oraliq" . Sertifikatning amal qilish muddati cheklanmagan.
                </p>
        </div>

        
    </div>
</div>

<!--================ Start About Area =================-->

<!--================ End About Area =================-->
{% endblock %}