{%extends 'base.html'%}
{% load static %}
{% block head%}
<title>Bizning maqsad g`oyalarimiz haqida</title>

<style>
    .santr {
        margin-right: 100px;
    }
    
    
 
 

    p {
        border: 2px solid #002347;
        color: #002347;
        padding: 30px;
        font-size: 20px;
        font-family: sans-serif;
        margin-top: 193px;
    }
    p:hover {
        border: 5px solid #B0CBC4;
        background-color: #F2EBD8;
        border-top-left-radius: 100% 20px;
        border-bottom-right-radius: 100% 20px;
    }
</style>

{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-5">
            
            <div class="imgtrik">
                <img src="{% static 'images/gmat1.jpg'%}" width="300" style="margin-bottom: -150px; margin-top: 100px; margin-left: 70px;">
            </div>
        </div>
            
        <div class="col-md-6">
            
                <p>
                GMAT (Graduate Management Admission Test ) - bu biznes maktablarida muvaffaqiyatli 
                o'qish qobiliyatini aniqlash uchun standartlashtirilgan test. GMAT dunyodagi eng 
                obro'li biznes maktablari tomonidan tanlov mezonlaridan biri sifatida, ko'pincha 
                MBA dasturiga kirish uchun foydalaniladi .
                GMAT biznes maktablari arizalarni ko'rib chiqishda foydalanadigan ko'plab omillardan 
                biridir. Ushbu testdan tashqari ish tajribasi, avvalgi maktablarda olgan baholari, 
                tavsiyanomalar va boshqa tanlov mezonlari hisobga olinadi.
                Hozirda butun dunyo bo'ylab imtihonni topshirishning yagona qiymati 250 AQSh dollarini 
                tashkil etadi va natijalar 5 yil davomida amal qiladi.
                </p>
        </div>

        
    </div>
</div>

<!--================ Start About Area =================-->

<!--================ End About Area =================-->
{% endblock %}