{%extends 'base_menubar.html'%}
{% load static %}
{% block head%}
<title>Bizning maqsad g`oyalarimiz haqida</title>
{% endblock %}
{% block content %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Yangiliklar</h2>
                        <div class="page_link">
                            <a href="{% url 'index'%}">Bosh sahifa</a>
                            <a href="{% url 'news'%}">Yangiliklar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Start About Area =================-->
<h1 style="text-align:center;"> News Page</h1>
<!--================ End About Area =================-->
{% endblock %}
