{%extends 'base.html'%}
{% load static %}
{% block head%}
<title>Bizning maqsad g`oyalarimiz haqida</title>

<style>
    .santr {
        margin-right: 100px;
    }
    
    
 
 

    p {
        border: 2px solid #002347;
        color: #002347;
        padding: 30px;
        font-size: 20px;
        font-family: sans-serif;
        margin-top: 193px;
    }
    p:hover {
        border: 5px solid #B0CBC4;
        background-color: #F2EBD8;
        border-top-left-radius: 100% 20px;
        border-bottom-right-radius: 100% 20px;
    }
</style>

{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-5">
            
            <div class="imgtrik">
                <img src="{% static 'images/toefl.jpg'%}" width="300" style="margin-bottom: -150px; margin-top: 100px; margin-left: 70px;">
            </div>
        </div>
            
        <div class="col-md-6">
            
                <p>
                TOEFL (Test of English as a Foreign Language) bu ingliz tilini bilishning standartlashtirilgan 
                sinovi bo'lib , uning natijalari ingliz tilini bilish darajasini tasdiqlash uchun ishlatiladi. 
                Ingliz tilida so'zlashuvchi mamlakatlarning universitetlarida AQSh , shuningdek, Evropa va Osiyo. 
                Sinov natijalari ingliz tilida so'zlashadigan va ingliz tilida so'zlashmaydigan boshqa bir qator 
                mamlakatlarda ingliz tilida ma'lumot olgan universitetlarga kirish uchun ishlatiladi. Bundan 
                tashqari, ishga qabul qilishda test natijalari talabga javob berishi mumkin chet el kompaniyalariga. 
                Sinov natijalari kompaniyaning ma'lumotlar bazasida 2 yil davomida saqlanib , keyin o'chiriladi. 
                Test sinovlari format, test maqsadlari va test qatnashchilarining yosh guruhlari jihatidan farq 
                qiluvchi bir nechta versiyalarga ega.
                Sinov odatda taxminan 3 soat davom etadi; yangi TOEFL iBT test formati 3 soatdan oshmaydi.

                1962 yilda AQSh universitetlarida o'qish istagida bo'lgan chet elliklarga va ingliz tilida 
                so'zlashmaydiganlarga ingliz tilini bilish testini o'tkazish vazifasini hal qilish uchun o'ttizta 
                davlat va xususiy tashkilotlardan iborat milliy kengash tuzildi. Ushbu maslahat 1963-1964 yillarda 
                TOEFLni rivojlantirish va uni joriy etishni tavsiya qildi. 
                Sinov dastlab Stenford Universitetining Amaliy tilshunoslik markazida tilshunoslik fanlari doktori 
                doktor Charlz A. Fergyuson rahbarligida ishlab chiqilgan .
                TOEFL testi birinchi marta 1964 yilda Ford Foundation va Danforth Foundation grantlari hisobiga 
                Zamonaviy tillar assotsiatsiyasi tomonidan joriy qilingan .
                1965 yilda kollej kengashi va ETS birgalikda TOEFL test dasturini davom ettirish uchun javobgarlikni 
                o'z zimmasiga oldi.
                1973 yilda dasturni nazorat qilish uchun ETS, kollej kengashi va bitiruvchilarni rekord imtihonlari 
                bo'yicha maslahat kengashi o'rtasida hamkorlik shartnomasi tuzildi . TOEFL kengashi rahbarligida 
                imtihonni boshqarish vazifasi ETSga yuklangan.
                Bugungi kunda Millatlar Hamdo'stligining ko'plab mamlakatlaridan kelgan talabalarn Anglosferaning 
                bir qismi bo'lgan TOEFL imtihonidan ozod qilingan, masalan, Gonkong yoki AQShning sobiq protektoratlari, 
                bu erda ingliz tili amalda rasmiy tildir. Ammo bunday mamlakatlar uchun turli cheklovlar mavjud. Masalan, 
                Kvebek aholisi TOEFLni topshirishi shart, Kanadaning qolgan qismi esa ozod qilinadi. Shuningdek, ingliz 
                tili rasmiy tili bo'lmagan Millatlar Hamdo'stligining mamlakatlari, masalan, Mozambik yoki Namibiya, 
                bu erda ingliz tili aholining atigi 3 foizigina rasmiy tillardan biri bo'lib, TOEFL imtihonidan ozod 
                qilinmaydi. Anglosfera tashqarisidagi Millatlar Hamdo'stligining ayrim xalqlari, masalan, Hindiston, 
                Pokiston, Bangladesh va boshqalar TOEFL imtihonini topshirishdan ozod qilinmaydi, hatto ingliz tili 
                ularning rasmiy tili bo'lsa ham.
                </p>
        </div>

        
    </div>
</div>

<!--================ Start About Area =================-->

<!--================ End About Area =================-->
{% endblock %}